/*
Coder: Mohamed A. Kamara
Degree: WDD
Date: March 26, 2015

*/

/*-------------------------------------------  general -------------------------------------------------------*/
body
	{
	margin: 1% auto;
	width: 90%;
	font-family: arial, "arial narrow", tahoma;
	font-size:1em;
	opacity:1;
	background-image: url("../images/main-back.jpg");
	}

/*-------------------------------------------header -------------------------------------------------------*/
#header
	{
	padding: 20px;
	}
	
#header h1 { 
			background-image: url(images/whaleicon.jpg);
			font-family: arial, "arial narrow", tahoma;
			font-size:1.5em;
			padding: 1%; 
		}


/*-------------------------------------------navigation -------------------------------------------------------*/
#navigation
	{
	position:relative;
	float: left;
	width: 100%;
	background: #333;
	}
	
/*---------------------------------------external font-----------------------------------------------*/	
 @font-face {
    font-family: TestFont;
    src: url(http://www.fontsquirrel.com/license/abril-fatface);
}
 
#navigation ul
			{
			margin: 0;
			padding: 0;
			font-family:TestFont, arial, "arial narrow";
}

#navigation ul li
			{
			list-style-type: none;
			display: inline;
			}	

#navigation li a {
				display: block;
				float: left;
				padding: 5px 10px;
				color: #fff;
				text-decoration: none;
				border-right: 1px solid #fff;
			}

#navigation li a:hover { 
						background: #383; 
				}

/*----page-content -------------------------------------------------------*/
#main-content {
				width: 80%;
				padding: 2%;
				margin-left:5%;
				background-image: url("../images/main-back.jpeg");
				background-repeat: no-repeat;
				background-position: center;
				background-attachment: fixed;
			}

#content {
		  clear: left;
		  width: 60%;
		  padding: 5px 0;
		  margin: 0 0 0 4%;
		  display: inline-block;
		}

#content h2 
		{ 
		margin: 0; 
		
		}

/*-------------------------------------------  gallery -------------------------------------------------------*/
#gallery {
		float: right;
		width: 30%;
		padding: 1% 0;
		display: block;
		box-shadow: 2px 2px 1px #888888;
		}

#gallery h3 { 
		display: block;
		margin: 0; 
		}
		
/*----------------------------------add images to page headings---------------------------------------------*/		
#evolution {
		background-image: url("../images/whaleicon.jpg");
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 7%;
		height: 5%;
		
		}
	
#anatomy {
		background-image: url("../images/whaleicon.jpg");
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 7%;
		height: 5%;

		}
		
#science {
		background-image: url("../images/whaleicon.jpg");
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 7%;
		height: 5%;
		
		}

/*-------------------------------------------  footer -------------------------------------------------------*/
#footer {
		clear: left;
		text-align: left;
		padding: 20px;
		height: 0.5%;
		}
/*-------------------------------------------  Table -------------------------------------------------------*/

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    text-align:center;
    background-color: #A7C942;
    color: #ffffff;
}

td {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
    padding: 3px 7px 2px 7px;
    text-align:center;	
}

tr:nth-child(even) {
background: #F2F2F2;
}

td:hover {
	background-color: #fff;
}

/*Form validation and attributes manipulation*/

			fieldset {
				width:700px;
				margin-top: 20px;
				border: 1px solid #d6d6d6;
				background-color: #ffffff;
				line-height: 1.6em;
				}
				
			legend {
				font-style: italic;
				color: #666666;
				}
				
			input[type="text"] {
				width: 160px;
				border: 1px solid #d6d6d6;
				padding: 2px;
				outline: none;
				}
			input[type="text"]:focus,
			input[type="text"]:hover {
				background-color: #d0e2f0;
				border: 1px solid #999999;
				}
				
			input[type="submit"] {
				border: 1px solid #006633;
				background-color: #009966;
				color: #ffffff;
				border-radius: 5px;
				padding: 5px;
				margin-top: 10px;
				}
			input[type="submit"]:hover {
				border: 1px solid #006633;
				background-color: #00cc33;
				color: #ffffff;
				cursor: pointer;
				
				}
			.title {
				float: left;
				width: 300px;
				clear: left;}
			.submit {
				width: 200px;
				text-align: right;}